body {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	background-image: url(imagens/metropole.jpg);
	background-size: cover;
}

h1 {
font-size:70px;
/*padding: 300px 0 0 0;*/
padding-top: 300px;
text-shadow: 2px 2px 2px lightgray;
margin-bottom: 15px;
}

p {
	font-size: 25px;
	color: lightgray;
	text-shadow: 2px 2px 2px black;
	opacity: 0.8;
	
}

.segundo_paragrafo {
	margin-bottom: 60px;
}

.botao {
	color: white;
	text-decoration: none;
	background-color: rgb(204, 0, 0);
	padding: 15px 15px;
	border-radius: 4px;
	font-size: 20px;
	font-weight: bold;
}

.botao:hover {
	background-color: rgba(204, 0, 0, 0.7);
}

.lista {
	list-style: none;
	padding-left: 0;
	margin-top: 150px;
}

.lista li {
	display: inline ;
}

.lista a {
	color: white;
	text-decoration: none;
	padding: 10px;
	font-size: 30px;
}

.lista a:hover {
opacity: 0.7;
}
